/* Chrome, Safari, Opera */
@-webkit-keyframes entradalogo {
    from {margin-left: -430px;}
    to {margin-left:0;}
}
/* The animation code */
@keyframes entradalogo {
    from {margin-left: -430px;}
    to {margin-left:0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes entradacontent {
    from {margin-left: -1284px;}
    to {margin-left:0;}
}
/* The animation code */
@keyframes entradacontent {
    from {margin-left: -1284px;}
    to {margin-left:0;}
}
/* The element to apply the animation to */
#logodata {
	position: absolute;
	z-index:5;
	cursor: pointer;
	-webkit-animation-name: entradalogo;
    -webkit-animation-duration: 750ms;
    -webkit-animation-timing-function: cubic-bezier(.17,.67,.59,1.45); /* custom */

    animation-name: entradalogo;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(.17,.67,.59,1.45); /* custom */
}

#speedcaja{
	height: 410px;
	width: 506px;
	padding-left: 15px;
	position: absolute;
	z-index: 10;
	background: #fff;
	-webkit-animation-name: entradacontent;
    -webkit-animation-duration: 750ms;
    -webkit-animation-timing-function: cubic-bezier(.17,.67,.59,1.45); /* custom */

    animation-name: entradacontent;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(.17,.67,.59,1.45); /* custom */	
}
.cat1{background:url("chrome-extension://__MSG_@@extension_id__/img/admin.png")no-repeat;display:inline-block;background-size: cover;}
.cat1:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/admin-hover.png")no-repeat;background-size: cover;}
.cat2{background:url("chrome-extension://__MSG_@@extension_id__/img/comercio.png")no-repeat;display:inline-block;background-size: cover;}
.cat2:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/comercio-hover.png")no-repeat;background-size: cover;}
.cat3{background:url("chrome-extension://__MSG_@@extension_id__/img/cultura.png")no-repeat;display:inline-block;background-size: cover;}
.cat3:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/cultura-hover.png")no-repeat;background-size: cover;}
.cat4{background:url("chrome-extension://__MSG_@@extension_id__/img/edificacion.png")no-repeat;display:inline-block;background-size: cover;}
.cat4:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/edificacion-hover.png")no-repeat;background-size: cover;}
.cat5{background:url("chrome-extension://__MSG_@@extension_id__/img/fisca.png")no-repeat;display:inline-block;background-size: cover;}
.cat5:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/fisca-hover.png")no-repeat;background-size: cover;}
.cat6{background:url("chrome-extension://__MSG_@@extension_id__/img/obras.png")no-repeat;display:inline-block;background-size: cover;}
.cat6:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/obras-hover.png")no-repeat;background-size: cover;}
.cat7{background:url("chrome-extension://__MSG_@@extension_id__/img/presupuesto.png")no-repeat;display:inline-block;background-size: cover;}
.cat7:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/presupuesto-hover.png")no-repeat;background-size: cover;}
.cat8{background:url("chrome-extension://__MSG_@@extension_id__/img/registrocivil.png")no-repeat;display:inline-block;background-size: cover;}
.cat8:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/registrocivil-hover.png")no-repeat;background-size: cover;}
.cat9{background:url("chrome-extension://__MSG_@@extension_id__/img/transito.png")no-repeat;display:inline-block;background-size: cover;}
.cat9:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/transito-hover.png")no-repeat;background-size: cover;}
.cat10{background:url("chrome-extension://__MSG_@@extension_id__/img/turismo.png")no-repeat;display:inline-block;background-size: cover;}
.cat10:hover{background:url("chrome-extension://__MSG_@@extension_id__/img/turismo-hover.png")no-repeat;background-size: cover;}

.list-cat{list-style:none;padding:0;text-align:center;}
.list-cat li{display:inline;float:left;text-align:center;width: 84px;height: 130px;margin-right: 40px;}
.margin1{width:80px;height:80px;background-position:center;}
.text-height > img{
	max-width: 88px !important;
	margin-top: 7px;
}
.speedclose{	
	position: relative;	
}
.speedclose img{
	position: absolute;
	height: 15px;
	top:0;
	right: 0;
	margin-right: 20px;
	margin-top: 3px;
	cursor: pointer;
}
#speedcaja h2{
	color:#0e76b8;
	text-align: center;
	margin-top: 0;
}

/*
body{margin:0;padding:0;font-family:Arial}
	#header{-webkit-box-shadow: 0px 0px 7px 3px rgba(50, 50, 50, 0.21);
	-moz-box-shadow:    0px 0px 7px 3px rgba(50, 50, 50, 0.21);padding:0;
	box-shadow:         0px 0px 7px 3px rgba(50, 50, 50, 0.21);}
	#header img {max-width: 100%;height: auto;width: auto\9;}
	.marginBottom{margin-bottom:7%;}
	.marginBottom2{margin-bottom:6%;}
	.header-cont{width:1050px;margin:0 auto;left:0;right:0;padding-top:80px;position:relative;z-index:99;}
	.menu-option{list-style:none;font-size:18px;color:#FFF;height:40px;display:inline-block}
	.menu-option li{display:inline-block;width:130px;text-align:center;float:left;height: 20px;   padding-top: 20px;}
	.menu-option li.special-1{width:40px;margin-top:15px;margin-right:20px}
	.menu-option li.special-2{width:170px;}
	.menu-option li.special-break{border-left:solid 1px #FFF;width:1px;height:40px}
	.icon-home{background:url("images/home.png")no-repeat;width:30px;height:30px}
	.menu-option a{color:#FFF;text-decoration:none;}
	.menu-option a li:hover{color:#FFF;text-decoration:underline;}
	.btn-green{background:url("images/bg-green.png");width:290px;height:28px;display:inline-block;margin-top:15px;color:#FFF;font-size:17px;padding-top:5px;padding-right:10px}
	.btn-green:hover{opacity:0.9}
	.media-social{width:300px;height:33px;display:inline-block;float:right;text-align: right;}
	.media-social img.base{margin-right:10px}
	
	#container{width:1050px;margin:8px auto;text-align:center;}
	
	.main-img{width:350px;height:756px;position:relative;}
	.main-img div{bottom:0px;position:absolute;text-align:center;margin:0 auto;left:0;right:0;height:150px;}
	.p1{background:url("images/left.jpg")no-repeat; width:340px;height:734px;display:inline-block}
	.p2{background:url("images/center.jpg")no-repeat; width:340px;height:734px;display:inline-block}
	.p3{background:url("images/right.jpg")no-repeat; width:340px;height:734px;display:inline-block}
	
	.title{margin:10px auto 10px auto;}
	.list-cat{list-style:none;padding:0;margin:30px auto;text-align:center;padding-left:45px}
	.list-cat li{display:inline;float:left;width:200px;text-align:center}
	.margin1{margin-right:4px;width:165px;height:165px;background-position:center;}
	
	.text-height{height:45px;padding-top:15px;margin-bottom:35px;}
	.bg-option{width:950px;height:150px;margin:30px auto;}
	.option1{background:url("images/bg-option-1.jpg")no-repeat;background-position:center center;}
	.option2{background:url("images/bg-option-2.jpg")no-repeat;background-position:center center;}
	.option3{background:url("images/bg-option-3.jpg")no-repeat;background-position:center center;}
	.option4{background:url("images/bg-option-4.jpg")no-repeat;nerd-position:center center;}
	.right-hackaton{background:url("images/hackaton.png")no-repeat;width:515px;height:150px;float: right;}
	.right-yellow{background:url("images/yellow.png")no-repeat;width:515px;height:150px;float: right;}
	.right-blue{background:url("images/blue.png")no-repeat;width:515px;height:150px;float: right;}
	.right-green{background:url("images/green.png")no-repeat;width:515px;height:150px;float: right;}
	
	.right-hackaton-hover{background:url("images/hackaton-hover.png")no-repeat;width:515px;height:150px;float: right;}
	.right-yellow-hover{background:url("images/yellow-hover.png")no-repeat;width:515px;height:150px;float: right;}
	.right-blue-hover{background:url("images/blue-hover.png")no-repeat;width:515px;height:150px;float: right;}
	.right-green-hover{background:url("images/green-hover.png")no-repeat;width:515px;height:150px;float: right;}
	
	.thackaton{background:url("images/thackaton.png")no-repeat;width:167px;height:150px;float: left;background-position:center center;margin-left:30px}
	.tyellow{background:url("images/tyellow.png")no-repeat;width:167px;height:150px;float: left;background-position:center center;margin-left:30px}
	.tblue{background:url("images/tblue.png")no-repeat;width:392px;height:150px;float: left;background-position:center center;margin-left:30px}
	.tgreen{background:url("images/tgreen.png")no-repeat;width:191px;height:150px;float: left;background-position:center center;margin-left:30px}
	.left-img{text-align:left;width:1000px;margin:0 auto;}
	.footer-img{background:url("images/footer.png")no-repeat;width:1000px;height:28px;margin:0 auto;}*/